/*Created by: Grace S
*Created on: Mar 2022
*This CSS file defines the style for index.html
*ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: rgb(195, 195, 229);
}

h1 {
  background-color: #443266;
  color: #F1F0FF;
  padding: 40px;
  text-align: center;
}

h1 {
  font-family:Monospace;
  font-size: 30px;
}

h2 {
  border-style: solid;
  background-color: #443266;
  color: #1961a3;
  border-color: hsl(240, 40%, 83%);
}

h3 {
  border-style: solid;
  background-color: #F1F0FF;
  color: #1961a3;
  border-color: #443266;
  text-align: center;
}

mdl-navigation {
  border-style: solid;
  background-color: #2bafca;
  color: #1961a3;
  border-color: #78ced9;
  text-align: center;
}